/* Modern Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
<<<<<<< HEAD
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
=======
  margin-top: 16px;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(214, 210, 210);
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  border-radius: 8px;
  margin-right: 8px;
}
.light-shadow {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.08);
}
.main-header {
  text-align: center;
  background-color: rgb(139, 179, 87);
}
.main-header h1 {
    width: auto;
    color: yellow;
>>>>>>> cabc20782190603223f69f8098d398b7dfc2bd77
}
.center {
  border: 1px solid rgb(235, 225, 225);
  border-radius: 4px;
  padding: 8px;
}